.navbar {
    background-color: #ffb74d !important;
}

.logo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.btn {
    color: black;
}

.btn-outline-success {
    background-color: rgb(255, 255, 255);
}

@media (min-width: 100px) {
    nav.container {
        max-width: 350px;
    }
}

.nav-link {
    display: block;
    padding: 1px;
    margin: 5px;
}

.navbar-toggler {
    background-color: #FFA726;
}

.bnaraj {
    background-color: #9E9E9E;
}

.narj {
    background-color: #FFA726!important;
}

.rt {
    font-family: 'Roboto', sans-serif, solid;
}

.navbar-custom {
    background-color: #ff5500;
}

body {
    background-color: #eeeae3;
}

.card-header {
    background-color: #FFA726!important;
}

.rti {
    font-family: 'Roboto Mono', monospace;
}

.section .boton1 {
    padding: 0.5em 1.2em;
    background: #FFA726;
    position: relative;
}

.boton1:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(239, 231, 231, 0.82);
    transition: all 0.2s ease;
}

@media only screen and (min-width: 1200px) {
    .mcs {
        margin-left: 200px!important;
    }
}

@media only screen and (max-width: 600px) {
    .mtft {
        margin-top: 25px;
    }
}

@media only screen and (max-width: 500px) {
    .mfs {
        margin-top: 15px;
    }
}


/*------------------------------------ footer -------------------------*/

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #bdbdbd, rgb(226, 168, 74));
    background: linear-gradient(59deg, #bdbdbd, rgb(226, 168, 74));
    color: white;
    margin-top: 100px;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #FA944B;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}